
<h1><a href="{{ root_url }}/">{{ site.title }}</a></h1>
<h2 class="welcome">Hi, I'm Stu</h2>
<img src="{% gravatar_image 200 %}" alt="Gravatar of {{ site.author}} " title="Gravatar of {{ site.author }}" class="profilepic" />
<hgroup>
  <h2>husband</h2>

  <img src="images/pug-grey-bg.png" alt="Gravatar of {{ site.author}} " title="Gravatar of {{ site.author }}" class="profilepic" />
  <h2>pug owner</h2>

  <img src="images/ruby-grey-bg.png" alt="Gravatar of {{ site.author}} " title="Gravatar of {{ site.author }}" class="profilepic" />
  <h2>rubyist</h2>
</hgroup>